.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/Session_1/assets/hero.jpg");
  max-width: 100vw;
  min-height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-heading {
  font-size: 2.25rem;
}
.hero-subheading {
  font-size: 1.25rem;
}
.hero-input {
  border-radius: 0.5rem;
  padding: 0.3rem;
  border: none;
  width: 60%;
}
.hero-input:focus {
  outline: none;
}
.tile {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 24rem;
  justify-content: flex-end;
  align-items: center;
  border-radius: 1rem;
  overflow: hidden;
}

.tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tile-text {
  position: absolute;
  z-index: 1;
}
.tile-text h4 {
  font-size: 2rem;
}
.tile-text p {
  font-size: 1.5rem;
}
